:root {
    --root-font-size-super: 24px;
    --root-font-size-large: 20px;
    --root-font-size-medium: 16px;
    --root-font-size-default: 14px;
    --root-font-size-small: 12px;

    --root-shadow: 0 0 10px rgba(0,0,0,.15);
    --root-padding-default: 20px;
}